Predicting the Survival of Titanic/.ipynb_checkpoints
Predicting the Survival of Titanic/data/*

IMDB movie review/.ipynb_checkpoints
IMDB movie review/data/*

Bike Sharing Demand/.ipynb_checkpoints
Bike Sharing Demand/data/*