Bike_Sharing_Demand/.ipynb_checkpoints
Bike_Sharing_Demand/data/*

IMDB_movie_review/.ipynb_checkpoints
IMDB_movie_review/data/*

Predicting_Survival_Titanic/.ipynb_checkpoints
Predicting_Survival_Titanic/data/*
